{% load static %}

<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'vendor/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/offcanvas.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/dropdowns.css' %}">
    <script src="{% static 'vendor/js/main.js' %}" defer></script>
    <script src="{% static 'vendor/js/open_windows.js' %}" defer></script>
    <script src="{% static 'vendor/js/musicPlayer.js' %}" defer></script>
    <script src="{% static 'vendor/js/bootstrap.bundle.min.js' %}" defer></script>
    <script src="{% static 'vendor/js/jquery-3.3.1.min.js' %}" defer></script>
    <script src="{% static 'vendor/js/folder_addScript.js' %}" defer></script>
    <script src="{% static 'vendor/js/input_file_template.js' %}" defer></script>
    <script src="{% static 'vendor/js/tag_addScript.js' %}" defer></script>
    <script src="{% static 'vendor/js/text-manipulations.js' %}" defer></script>
    {% block otherScripts %}

    {% endblock %}
</head>

<form class="bg-light">
    <!-- Navigation bar -->
    <nav class="nav-padding navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" id="toggle-sidebar">
                <img src="{% static 'vendor/img/icon/note.png' %}" class="icon">
                Мій нотатник</a>
            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="{% url 'workspace:index' %}" class="nav-link active"
                           aria-current="page">Головна</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="createPassBtn">Сейф</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                           aria-expanded="false">Додати</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" id="createTagBtn1" href="#">Тег</a></li>
                            <li><a class="dropdown-item" id="createFolderBtn1" href="#">Папку</a></li>
                            <li><a class="dropdown-item" href="#">Запис</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" style="width: 17rem !important;" type="search"
                           placeholder="Знайти..." aria-label="Search">
                    <button class="btn btn-outline-warning" type="submit">Пошук</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Tag bar -->
    <div id="tag-section" class="nav-scroller bg-body shadow-sm">
        <nav class="nav nav-tag" aria-label="Secondary navigation">
            <a id="tag-section" class="nav-link active nav-tag-but nav-button">Теги:</a>
            {% for tag in tags %}
                <a class="nav-button nav-link"
                   onclick="toggleColor(this); callPythonFunction('{{ tag.id }}');"
                   data-tag-id="{{ tag.id }}">
                    {{ tag.tag_name }}
                    <span class="nav-button badge text-bg-light rounded-pill align-text-bottom">{{ tag.tag_count }}</span>
                </a>
            {% endfor %}
        </nav>
    </div>
    <script>
        var userNoteTagIds = JSON.parse('{{ included_tags }}');

        // Вызов функции toggleColor(this) для каждого тега при загрузке страницы
        window.onload = function () {
            userNoteTagIds.forEach(function (tagId) {
                var tagElement = document.querySelector('[data-tag-id="' + tagId + '"]');
                if (tagElement) {
                    toggleColor(tagElement);
                }
            });
            autoresize()
        };
    </script>
    <!-- Sidebar -->
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark sidebar" style="width: 280px;">
        <a href="/static" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi pe-none me-2" width="40" height="32">
                <use xlink:href="#bootstrap"/>
            </svg>
            <span class="fs-4">Sidebar</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="" class="nav-link active" aria-current="page" id="scrollToTopBtn">
                    <img src="../../../../static/vendor/img/icon/tag.png"
                         class="sidebar__img me-2">
                    <span class="sidebar__tagName">Теги</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="../../../../userMainWorkspace/templates/workspaces/workspace/workspace.html#folder-section"
                   class="nav-link text-white">
                    <img src="../../../../static/vendor/img/icon/folder.png"
                         class="sidebar__img me-2">
                    <span class="sidebar__tagName">Папки</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="../../../../userMainWorkspace/templates/workspaces/workspace/workspace.html#notes-section"
                   class="nav-link text-white">
                    <img src="../../../../static/vendor/img/icon/documents.png"
                         class="sidebar__img me-2">
                    <span class="sidebar__tagName">Записи</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#footer-section" class="nav-link text-white">
                    <img src="../../../../static/vendor/img/icon/callback.png"
                         class="sidebar__img me-2">
                    <span class="sidebar__tagName">Зв'язок зі мною</span>
                </a>
            </li>


            <li class="add-butns nav-item">
                <a id="createTagBtn" href="#" class="nav-link text-white">
                    <img src="../../../../static/vendor/img/icon/add-white.png"
                         class="sidebar__img me-2">
                    <span class="sidebar__tagName">Створити тег →</span>
                </a>
            </li>
            <li id="createFolderBtn" class="nav-item">
                <a href="#" class="nav-link text-white">
                    <img src="../../../../static/vendor/img/icon/add-white.png"
                         class="sidebar__img me-2">
                    <span class="sidebar__tagName">Створити папку →</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="../../../userNote/templates/noteCreate.html" class="nav-link text-white">
                    <img src="../../../../static/vendor/img/icon/add-white.png"
                         class="sidebar__img me-2">
                    <span class="sidebar__tagName">Створити запис →</span>
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
               data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>Username</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="../../../userNote/templates/noteCreate.html">Створити запис</a></li>
                <li><a class="dropdown-item" href="#">Забув код</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Вийти</a></li>
            </ul>
        </div>
    </div>
{% block mainBlock %}

{% endblock %}

    <!-- Tag addition window -->
    <div id="tagForm" class="addTag__container px-5 my-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card border-0 rounded-3 shadow-lg">
                    <div class="card-body pt-4 pr-4 pl-4 pb-2">
                        <div class="text-center addTag__text">
                            <div class="h1 fw-light">Додати тег</div>
                        </div>
                        <form>
                            <!-- Tag-Name Input -->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="tag_create" type="text" placeholder="Name"
                                       oninput="addHashSymbol()" onfocus="handleFocus()"
                                       data-sb-validations="required"/>
                                <label for="name">Назва тегу:</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Name is required.</div>
                            </div>
                            <!-- Submit button -->
                            <div class="d-grid">
                                <a href="../../../../userMainWorkspace/templates/workspaces/workspace/all_notes.html"
                                   class="btn btn-primary btn-lg">Додати</a>
                            </div>
                            <p class="d-flex flex-row-reverse text-black-50 pt-2 creating_text_size">Щоб закрити вікно:
                                Esc</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Folder addition window -->
    <div id="folderForm" class="addTag__container px-5 my-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card border-0 rounded-3 shadow-lg">
                    <div class="card-body pt-4 pr-4 pl-4 pb-2">
                        <div class="text-center addTag__text">
                            <div class="h1 fw-light">Створити папку</div>
                        </div>
                        <form>
                            <div class="mb-3">
                                <div class="d-flex justify-content-center mb-4">
                                    <img id="selectedAvatar"
                                         src="../../../../static/vendor/img/icon/folder-black.png"
                                         class="rounded-circle"
                                         style="width: 200px; height: 200px; object-fit: cover;"
                                         alt="example placeholder"/>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="btn btn-primary btn-rounded">
                                        <label class="form-label text-white m-1" for="customFile2">Вибрати
                                            зображення</label>
                                        <input type="file" class="form-control d-none" id="customFile2"
                                               onchange="displaySelectedImage(event, 'selectedAvatar')"/>
                                    </div>
                                </div>
                            </div>
                            <!-- Name Input -->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="folder-create" type="text" placeholder="Name"
                                       oninput="addHashSymbol()" onfocus="handleFocus()"
                                       data-sb-validations="required"/>
                                <label for="name">Назва папки:</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Name is required.</div>
                            </div>
                            <!-- Submit button -->
                            <div class="d-grid">
                                <a href="../../../../userMainWorkspace/templates/workspaces/workspace/all_notes.html"
                                   class="btn btn-primary btn-lg">Створити</a>
                            </div>
                            <p class="d-flex flex-row-reverse text-black-50 pt-2 creating_text_size">Щоб закрити вікно:
                                Esc</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Entering the archive password -->
    <div id="passForm" class="addTag__container px-5 my-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card border-0 rounded-3 shadow-lg">
                    <div class="card-body pt-4 pr-4 pl-4 pb-2">
                        <div class="text-center addTag__text">
                            <div class="h1 fw-light">Це ви?</div>
                        </div>
                        <form>
                            <!-- Tag-Name Input -->
                            <div class="input-group mb-3">
                                <span class="input-group-text passEnter">Пароль:</span>
                                <input type="text" aria-label="First number" class="form-control passEnter__input"
                                       maxlength="1" oninput="moveToNextInput(this, event)">
                                <input type="text" aria-label="Second number" class="form-control passEnter__input"
                                       maxlength="1" oninput="moveToNextInput(this, event)">
                                <input type="text" aria-label="Third number" class="form-control passEnter__input"
                                       maxlength="1" oninput="moveToNextInput(this, event)">
                                <input type="text" aria-label="Fourth number" class="form-control passEnter__input"
                                       maxlength="1" oninput="moveToNextInput(this, event)">
                            </div>
                            <!-- Submit button -->
                            <div class="d-grid">
                                <a href="../../../../userMainWorkspace/templates/workspaces/workspace/all_notes.html"
                                   class="btn btn-primary btn-lg">Увійти</a>
                            </div>
                            <div class="flex-container1">
                                <a id="forgotPasswordBtn"
                                   class="d-flex flex-row pt-2 creating_text_size creating_forgot_btn">Забув пароль</a>
                                <p class="d-flex flex-row-reverse text-black-50 pt-2 creating_text_size">Щоб закрити
                                    вікно: Esc</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
<footer id="footer-section">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/static" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <img class="footer-icon"
                         src="../../../../static/vendor/img/icon/note-black.png">
                </a>
                <span class="mb-3 mb-md-0 text-muted">&copy; 2023 MyPythonProject, Inc</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li><a href="#"><img
                        src="../../../../static/vendor/img/icon/telegram.png"
                        class="composition__img">
                </a></li>
                <li><a href="#"><img src="../../../../static/vendor/img/icon/gmail.png"
                                     class="composition__img">
                </a></li>
                <li><a href="#"><img
                        src="../../../../static/vendor/img/icon/instagram.png"
                        class="composition__img composition__img_instagram">
                </a></li>
            </ul>
        </footer>
    </div>
</footer>

</html>