Django==4.2.6
Pillow==10.1.0

flake8==6.1.0
isort==5.12.0

stripe==7.1.0

redis==4.6.0
celery==5.3.4

psycopg2-binary==2.9.9

django-environ
django-allauth
django-debug-toolbar
django-extensions
djangorestframework
django-redis
