html,
body {
    height: 100%;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -2px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
    margin-bottom: 0px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 0px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.light-theme .logo-img {
    filter: invert(0%);
}

.dark-theme .logo-img {
    filter: invert(100%);
}

.auth {
    display: flex;
    justify-content: space-between;
    padding: 0;
    border: 1px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Стили для светлой темы */
html[data-bs-theme='light'] .auth {
    border-color: #dee2e6;
    background-color: #ffffff;
}

html[data-bs-theme='light'] .auth .auth-btn {
    background-color: #ffffff;
}

html[data-bs-theme='light'] .auth .auth-btn.left-btn {
    border-right: 1px solid #dee2e6;
}

html[data-bs-theme='light'] .auth .auth-btn.right-btn {
    border-left: 1px solid #dee2e6;
}

/* Стили для тёмной темы */
html[data-bs-theme='dark'] .auth {
    border-color: #495057;
    background-color: #212529;
}

html[data-bs-theme='dark'] .auth .auth-btn {
    background-color: #212529;
}

html[data-bs-theme='dark'] .auth .auth-btn.left-btn {
    border-right: 1px solid #495057;
}

html[data-bs-theme='dark'] .auth .auth-btn.right-btn {
    border-left: 1px solid #495057;
}

.auth .auth-btn {
    margin-bottom: 1px;
    width: 32.34%;
    border-top: 3px;
    border-bottom: 3px;
}

.auth .auth-btn {
    width: 32%;
    margin: 0;
}

.auth .right-btn {
    border: none;
    border-left: 1px solid #212529;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10px;
}

.auth .left-btn {
    border: none;
    border-right: 1px solid;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
}

.auth .auth-btn .auth-icon {
    width: 2.5rem;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease, color 0.3s ease;
}

.auth-btn:hover .auth-icon {
    transform: translateY(-2px);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

.error-msg {
  color: rgb(231, 22, 22);
}