<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="css/style_login.css">

</head>

<body>

    <div class="wrapper">
        <div class="inner">
            <div class="image-holder">
                <img src="img/poet.png" alt="">
            </div>
            <form action="">
                <h3>Авторизація</h3>
                <div class="form-holder active">
                    <input type="text" placeholder="логін або пошта" class="form-control">
                </div>
                <div class="form-holder">
                    <input type="password" placeholder="пароль" class="form-control" style="font-size: 15px;">
                </div>
                <div class="form-login">
                    <button href="index.html">Підтвердити</button>
                </div>
                <div class="form-login ml-30">
                    <p>Ще немає акаунту? <a href="registr.html">Зареєструватсь</a></p>
                </div>
                <ul class="">
                    <li><a href="#"><img src="img/icon/registration_google.png" class="composition__img">
                        </a></li>
                    <li><a href="#"><img src="img/icon/registration_facebook.png" class="composition__img">
                        </a></li>
                    <li><a href="#"><img src="img/icon/registration_reddit.png" class="composition__img composition_reddit">
                        </a></li>
                </ul>
            </form>
        </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/registr.js"></script>
</body>

</html>