{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="{% static 'vendor/css/style_login1.css' %}">

</head>

<body>

<div class="wrapper">
    <div class="inner">
        <div class="image-holder">
            <img src="{% static 'vendor/img/poet.png' %}" alt="">
        </div>
        <form method="post" action="">
            {% csrf_token %}
            <h3>Реєстрація</h3>
            <div class="form-holder active">
                {{ user_form.username }}
            </div>
            <div class="form-holder">
                {{ user_form.email }}
            </div>
            <div class="form-holder">
                {{ user_form.password }}
            </div>
            <div class="form-holder exception">
                {{ user_form.safepass1 }}
                {{ user_form.safepass2 }}
                {{ user_form.safepass3 }}
                {{ user_form.safepass4 }}
            </div>
            <div class="myErrors">
                {% for error in user_form.username.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
                {% for error in user_form.email.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
                {% for error in user_form.password.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-login">
                <input type="submit" class="myinput" value="Підтвердити">
            </div>
            <div class="myTextCenter">
                <p>Уже маєте акаунт? <a href="{% url 'account:login' %}">Логін</a></p>
            </div>
            <script>
                const form = document.querySelector('form');
                const inputs = form.querySelectorAll('input');

                inputs.forEach((input, index) => {
                    if (input.id === 'id_safepass1' || input.id === 'id_safepass2' || input.id === 'id_safepass3' || input.id === 'id_safepass4') {
                        input.addEventListener('input', function () {
                            if (this.value.length === 1) {
                                if (index < 7) {
                                    inputs[index + 1].focus();
                                }
                            } else if (this.value.length === 0) {
                                if (index > 4) {
                                    inputs[index - 1].focus();
                                }
                            }
                        });
                    }
                });
            </script>
        </form>
    </div>
</div>

<script src="{% static 'vendor/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'vendor/js/registr.js' %}"></script>
</body>
</html>