{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="{% static 'vendor/css/style_login3.css' %}">

</head>

<body>

<div class="wrapper">
    <div class="inner">
        <div class="image-holder">
            <img src="{% static 'vendor/content/img/contract.png' %}" alt="poet-img" class="login-img">
        </div>
        <form method="post" action="{% url 'account:login' %}">
            {% csrf_token %}
            <h3>Авторизація</h3>
            <div class="form-holder active">
                {{ form.username }}
            </div>
            <div class="form-holder">
                {{ form.password }}
            </div>
            {% if form.errors %}
                <ul style="color: red;">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="form-login">
                <input class="myinput" type="submit" value="Підтвердити">
            </div>
            <div class="form-login ml-30">
                <p>Ще немає акаунту? <a href="{% url 'account:register' %}">Зареєструватсь</a></p>
            </div>
            <ul style="margin-left: 65px">
                <li><a href="#"><img src="{% static 'vendor/content/img/google.png' %}"
                                     class="composition__img">
                </a></li>
                <li><a href="#"><img src="{% static 'vendor/content/img/facebook.png' %}"
                                     class="composition__img">
                </a></li>
                <li><a href="#"><img src="{% static 'vendor/content/img/reddit.png' %}"
                                     class="composition__img">
                </a></li>
            </ul>
        </form>
    </div>
</div>

<script src="{% static 'vendor/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'vendor/js/registr.js' %}"></script>
</body>

</html>